/* Global */
:root {
    --light-brown: #6f4e37;
    --light-white: #FFEBD4;
}

/* General */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Handlee', cursive;
}

/* Navbar */

.navbar-custom {
    color: #3B2F2F;
}

.navbar-custom .nav-link {
    color: #3B2F2F;
}

.navbar-custom .nav-link.active {
    font-weight: bold;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
}
/* Hero  section */
.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/hero.png) no-repeat center center;
    background-size: cover;
    height: 100vh;
    color: #FFEBD4;
}

.hero-smaller {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/hero.png) no-repeat center center;
    background-size: cover;
    height: 85vh;
    color: #FFEBD4;
}

.hero .btn {
    color: #3b2f2f;
}

/* Services */

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card {
    border: none;
}

/* Testimonials */

.testimonial-image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.testimonial-text {
    text-align: center;
    padding-top: 10px;
}

.testimonial-author {
    text-align: center;
}

/* Contact Form */

.contact-form {
    background-color: var(--light-brown);
    color: var(--light-white);
}

.button-1 {
    background-color: var(--light-white);
    color: var(--light-brown);
}

.button-1:hover {
    background-color:white;
    color: slategray;
}



/* Footer */
.footer {
    background-color: var(--light-brown);
    color: var(--light-white);
}

.footer i {
    color: var(--light-white);
}

